
@{
    List<CategoryVM> categories = ViewData["category"] != null ? (List<CategoryVM>)ViewData["category"] : null;
    List<ProductsVM> product = ViewData["product"] != null ? (List<ProductsVM>)ViewData["product"] : null;
    List<ProductType> proType = ViewData["proType"] != null ? (List<ProductType>)ViewData["proType"] : null;
}
@{
    ViewData["Title"] = "Category";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

 
<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/Category.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper">
        <div class="category-left">
            <form asp-action="Category" method="get">
            <h3> <i class="fa-solid fa-filter"></i>Giá</h3>
            <div class="filter">
               
                    <input type="number" placeholder="Từ" name="sPrice" />
                    <input type="number" placeholder="Đến" name="ePrice"  />
                   
              
            </div>
            <h3>Loại sản phẩm</h3>
            @foreach(var type in proType )
            {
                <div style="display: flex; flex-direction: row">
                    <input type="radio" value="@type.Id" name="type" />
                    <label for="type">@type.Name</label>

                 </div>

               
            }
                <button type="submit">Lọc</button>
            </form>

        </div>
        <div class="category-right">
            
            @foreach (var item in product)
                {
                if(item.ProductType.status == "active")
                {
                    <div class="wrapper-product">
                        <a class="product" asp-action="Product" asp-controller="Home" asp-route-id="@item.Id">
                            <div class="product-img">
                                <img width="310px" height="310px" src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(item.dataimage))" />
                            </div>

                            <span style="font-weight: 600" class="product-name">@item.producdName </span>
                            <span class="product-price">@string.Format("{0:#,0}",@item.producdPrice)đ</span>
                            <span class="product-sold">Đã bán: @item.sold sản phẩm</span>
                            @*  <button class="add-cart" id="add-cart"> <img src="~/image/add-cart.svg" /> </button> *@
                        </a>

                    </div>
                }
               

                
                   
                }
            

           
         
           
        </div>
    </div>
 

    
   

</body>
</html>
