@model List<KaiserStore.Models.ProductsVM>;

@{
    List<CategoryVM> categories = ViewData["category"] != null ? (List<CategoryVM>)ViewData["category"] : null;
    List<ProductsVM> bestSell = ViewData["bestSell"] != null ? (List<ProductsVM>)ViewData["bestSell"] : null;
}
}

@{
    ViewData["Title"] = "Kaiser Store";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/StyleHome.css" />
</head>
<body>
        <div class="slide">

             <div class="slide-items">     
                <img class="item active" src="https://intphcm.com/data/upload/banner-thoi-trang.jpg" />
                <img class="item" src="https://img3.thuthuatphanmem.vn/uploads/2019/10/14/banner-thoi-trang-the-thao-cho-nam_113858272.jpg" />
                <img class="item" src="https://scontent.fhan5-2.fna.fbcdn.net/v/t1.18169-9/11220139_757219051070703_2394365749370473791_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=730e14&_nc_ohc=HnLML_acBEsAX8M260S&_nc_ht=scontent.fhan5-2.fna&oh=00_AfAikdkFd_r7QDFJEiVpSzREy8w-iz6A-Tpyv4tSD0v8mA&oe=65192162" />
             </div>
              <div class="slide-button">
                <div id="button-next">
                   
                    <img src="~/image/button-next.svg" width="60px" height="60px" />
                </div>

                <div id="button-back">
                    <img src="~/image/button-back.svg" width="60px" height="60px" />
                </div>
             </div>
        </div>
        <div class="policy">
            <div class="policy-item">
            <i class="fa-solid fa-box-archive fa-2xl"></i>
                <span class="policy-title">MIỄN PHÍ GIAO HÀNG</span>
                <span class="content-title">Đối với hóa đơn từ 500.000 VNĐ đã thanh toán tại Hà nội</span>
            </div>
             <div class="policy-item">
                <i class="fa-solid fa-truck-fast fa-2xl"></i>
                <span class="policy-title">GIAO HÀNG TOÀN QUỐC</span>
                <span class="content-title">Giao hàng siêu tốc, nhận ship cod giao tân nơi thu tiền</span>
            </div>
            <div class="policy-item">
                <i class="fa-solid fa-door-open fa-2xl"></i>
                <span class="policy-title">MUA HÀNG (8H30 - 22H00, T2 - CN)</span>
                <span class="content-title">Hotline Mua hàng 039.5680.199</span>
            </div>
             <div class="policy-item">
                   <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                    <span class="policy-title">Mua hàng tận nơi</span>
                    <span class="content-title">Địa Chỉ: Kim Giang, Hoàng Mai, Hà Nội</span>
                </div>

        </div>
        <div class="content">
        <div class="wrapper-product">
            <div class="p-header">
                <div class="p-title">
                    <span>Sản phẩm mới</span>
                </div>
               @*  <div class="p-item">
                    <a href="#">Tất cả</a>
                    @foreach (var item in categories)
                    {
                        <a href="#">@item.namecategory</a>
                    }
                    
                   
                </div> *@

            </div>
            <div class="list-product">
                @if (Model.Count() > 0)
                {
                    int max = 0;
                    if(Model.Count() > 6)
                    {
                        max = Model.Count() - 6;
                    }
                    @for (int i = Model.Count() - 1; i >= max; i--)
                    {
                        <a class="product" asp-action="Product" asp-controller="Home" asp-route-id="@Model[i].Id" class="product">
                            <div class="product-img">
                                <img src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(Model[i].dataimage))" />
                            </div>

                            <span class="product-name">@Model[i].producdName</span>
                            <span class="product-price">Giá bán: @Model[i].producdPrice</span>
                            <span class="product-sold">Đã bán: @Model[i].sold sản phẩm</span>
                            @*  <button class="add-cart" id="add-cart"> <img src="~/image/add-cart.svg" /> </button> *@
                        </a>

                    }

                }
                else
                {
                    <span>Hiện tại không có sản phẩm nào</span>
                }

            </div>
            
            
        </div>
        <div class="wrapper-product">
            <div class="p-header">
                <div class="p-title">
                    <span>Sản phẩm bán chạy</span>
                </div>
               @*  <div class="p-item">
                    <a href="#">Tất cả</a>
                    @foreach (var item in categories)
                    {
                        <a href="#">@item.namecategory</a>
                    }
                </div> *@

            </div>
            <div class="list-product">
                @if (bestSell.Count() > 0)
                {
                    int max = 0;
                    if (bestSell.Count() > 6)
                    {
                        max = bestSell.Count() - 6;
                    }
                    @for (int i = bestSell.Count() - 1; i >= max; i--)
                    {
                        <a class="product" asp-action="Product" asp-controller="Home" asp-route-id="@bestSell[i].Id" class="product">
                            <div class="product-img">
                                <img src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(bestSell[i].dataimage))" />
                            </div>

                            <span class="product-name">@bestSell[i].producdName</span>
                            <span class="product-price">Giá bán: @bestSell[i].producdPrice</span>
                            <span class="product-sold">Đã bán: @bestSell[i].sold sản phẩm</span>
                            @*  <button class="add-cart" id="add-cart"> <img src="~/image/add-cart.svg" /> </button> *@
                        </a>

                    }

                }
                else
                {
                    <span>Hiện tại không có sản phẩm nào</span>
                }


               
            </div>

            
        </div>
        </div>
        
        <script src="~/js/Home.js"></script>
      
</body>
</html>
