@model List<KaiserStore.Models.ProductsVM>;

@{
    List<CategoryVM> categories = ViewData["category"] != null ? (List<CategoryVM>)ViewData["category"] : null;
    List<ProductsVM> bestSell = ViewData["bestSell"] != null ? (List<ProductsVM>)ViewData["bestSell"] : null;
    List<Slide> slide = ViewData["slide"] != null ? (List<Slide>)ViewData["slide"] : null;
}

  
@{
    ViewData["Title"] = "Kaiser Store";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/StyleHome.css" />
</head>
<body>
        <div class="slide">

             <div class="slide-items">
                <img width="100%" class="item active" src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(@slide[0].dataimage))" />
                @for(int i = 1; i<= slide.Count() - 1; i++)
                {
                    <img class="item" src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(@slide[i].dataimage))" />
                }
        
             </div>
              <div class="slide-button">
                <div id="button-next">
                   
                    <img src="~/image/button-next.svg" width="60px" height="60px" />
                </div>

                <div id="button-back">
                    <img src="~/image/button-back.svg" width="60px" height="60px" />
                </div>
             </div>
        </div>
        <div class="policy">
            <div class="policy-item">
            <i class="fa-solid fa-box-archive fa-2xl"></i>
                <span class="policy-title">MIỄN PHÍ GIAO HÀNG</span>
                <span class="content-title">Đối với hóa đơn từ 500.000 VNĐ đã thanh toán tại Hà nội</span>
            </div>
             <div class="policy-item">
                <i class="fa-solid fa-truck-fast fa-2xl"></i>
                <span class="policy-title">GIAO HÀNG TOÀN QUỐC</span>
                <span class="content-title">Giao hàng siêu tốc, nhận ship cod giao tân nơi thu tiền</span>
            </div>
            <div class="policy-item">
                <i class="fa-solid fa-door-open fa-2xl"></i>
                <span class="policy-title">MUA HÀNG (8H30 - 22H00, T2 - CN)</span>
                <span class="content-title">Hotline Mua hàng 039.5680.199</span>
            </div>
             <div class="policy-item">
                   <i class="fa-solid fa-cart-shopping fa-2xl"></i>
                    <span class="policy-title">Mua hàng tận nơi</span>
                    <span class="content-title">Địa Chỉ: Kim Giang, Hoàng Mai, Hà Nội</span>
                </div>

        </div>
        <div class="content">
        <div class="wrapper-product">
            <div class="p-header">
                <div class="p-title">
                    <span>Sản phẩm mới</span>
                </div>
            

            </div>
            <div class="list-product">
                @if (Model.Count() > 0)
                {
                    int count = 0;
                    int max = 0;
                    if(Model.Count() > 6)
                    {
                        max = Model.Count() - 6;
                    }
                    @for (int i = Model.Count() - 1; i >= max; i--)
                    {
                        
                        if(Model[i].category.status == "active")
                        {
                            <a class="product" asp-action="Product" asp-controller="Home" asp-route-id="@Model[i].Id" class="product">
                                <div class="product-img">
                                    <img src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(Model[i].dataimage))" />
                                </div>

                                <span class="product-name">@Model[i].producdName</span>
                                <span class="product-price">Giá bán: @string.Format("{0:#,0}",Model[i].producdPrice)đ</span>
                                <span class="product-sold">Đã bán: @Model[i].sold sản phẩm</span>
                                @*  <button class="add-cart" id="add-cart"> <img src="~/image/add-cart.svg" /> </button> *@
                            </a>
                            count++;

                        }
                       
                    }
                    if(count == 0)
                    {
                        <span style="
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 34px;
                        font-weight: 600;
                        color: red; 
                        ">Hiện tại không có sản phẩm nào</span>
                    }

                }
                else
                {
                    <span style="
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 34px;
                        font-weight: 600;
                        color: red;
                        ">Hiện tại không có sản phẩm nào</span>
                }
                }

            </div>
            
            
        </div>
        <div class="wrapper-product">
            <div class="p-header">
                <div class="p-title">
                    <span>Sản phẩm bán chạy</span>
                </div>
            

            </div>
            <div class="list-product">
                @if (bestSell.Count() > 0)
                {
                    int max = 0;
                    int count = 0;
                    if (bestSell.Count() > 6)
                    {
                        max = bestSell.Count() - 6;
                    }
                    @for (int i = bestSell.Count() - 1; i >= max; i--)
                    {
                        if(bestSell[i].category.status == "active")
                        {
                            <a class="product" asp-action="Product" asp-controller="Home" asp-route-id="@bestSell[i].Id" class="product">
                            <div class="product-img">
                                <img src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(bestSell[i].dataimage))" />
                            </div>

                            <span class="product-name">@bestSell[i].producdName</span>
                            <span class="product-price">Giá bán: @string.Format("{0:#,0}",@bestSell[i].producdPrice)đ</span>
                            <span class="product-sold">Đã bán: @bestSell[i].sold sản phẩm</span>
                            @*  <button class="add-cart" id="add-cart"> <img src="~/image/add-cart.svg" /> </button> *@
                        </a>
                            count++;
                        }
                        
                       
                    }
                    if(count == 0)
                    {
                        <span style="
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 34px;
                        font-weight: 600;
                        color: red;
                        ">Hiện tại không có sản phẩm nào</span>
                    }
                    

                }
                else
                {
                    <span style="
                        width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 34px;
                        font-weight: 600;
                        color: red;
                        ">Hiện tại không có sản phẩm nào</span>
                }
                


               
            </div>

            
        </div>
        </div>
        
        <script src="~/js/Home.js"></script>
      
</body>
</html>
