@{
    ProductsVM product = ViewData["productItem"] != null ? (ProductsVM)ViewData["productItem"] : null;
    List<SizeItem> ListSize = ViewData["ListSize"] != null ? (List<SizeItem>)ViewData["ListSize"] : null;

}
@model KaiserStore.Models.Cart;
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_LayoutNavbar.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="~/css/StyleProduct.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet" />
</head>
<body>

    <div class="wrapper-product">
        <div class="product-img">
            <img src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(product.dataimage))"  />
        </div>
     
        <form method="post" asp-route-id="@product.Id" class="product-info">
            <span class="product-name">@product.producdName </span>
            <input hidden value="@ViewData["ID"]" asp-for="UserId"/>
            <input hidden value="@product.Id" asp-for="ProductId"/>
            <span class="product-price">Giá: @string.Format("{0:#,0}",@product.producdPrice)</span>
            @if(ListSize.Count() > 0)
            {
                <select asp-for="Size">
                    @foreach (var item in ListSize)
                    {

                        <option>@item.Name</option>

                    }
                </select>
                <input placeholder="Số lượng" min="1" asp-for="quantity" />
                @if (ViewData["Data"] != null)
                {
                    <button type="submit">Thêm vào giỏ hàng</button>
                }
            }
            else
            {
                <span style="padding: 10px; background-color: darkred; color: white;display: flex;justify-content: center;">Sold out</span>
            }
            
           
            <span class="product-sold">Đã bán: @product.sold sản phẩm</span>
            @if (ViewData["Error"] != "")
            {
                <span style="margin-top: 10px; color: darkred; font-weight: 600;">@ViewData["Error"]</span>
            }
           
           
        </form>
        @*  <button class="add-cart" id="add-cart"> <img src="~/image/add-cart.svg" /> </button> *@

    </div>
    <div class="product-details">
        <h3>Thông tin sản phẩm</h3>
        <div class="details">
            <span>
                @product.describe
            </span>
           
        </div>
    </div>






</body>
</html>






