@using KaiserStore.Models;
@{
    List<SizeItem> ListSize = ViewData["ListSize"] != null ? (List<SizeItem>)ViewData["ListSize"] : null;
    ProductsVM product = ViewData["product"] != null ? (ProductsVM)ViewData["product"] : null;
}
@model KaiserStore.Models.ImportDetails;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    ViewData["page"] = "inventory";
    ViewData["Title"] = "Nhập hàng hóa";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutSidebar.cshtml";
}

<!DOCTYPE html>

<html>  
<head>
    <link rel="stylesheet" href="~/css/StyleAdminImport.css" />
</head>
<body>
    <div class="wrapper">
          <h1>@product.producdName</h1>
        <div class="wrap-import">
            <div class="import-left">
              
                <img width="300" height="300" src="@String.Format("data:image/jpg;base64,{0}",Convert.ToBase64String(product.dataimage))" />
              
            </div>
            <div class="import-right">
                <div class="size">
                    <h4>Size</h4>
                    @foreach (var item in ListSize)
                    {
                        <option>@item.Name</option>

                    }
                </div>
                <div class="quantity">
                    <h4>Số lượng</h4>
                    @foreach (var item in ListSize)
                    {
                        <option>@item.Quantity</option>

                    }
                </div>

                
            </div>

        </div>
      

        <form method="post" asp-route-id="@product.Id">
            <h3> Nhập kho</h3>

            <input hidden value="@product.Id" asp-for="ProductId" />
            <select style="margin-bottom: 10px" asp-for="Size">
                @foreach (var item in ListSize)
                {
                    <option>@item.Name</option>

                }
            </select>
            <input min="1" placeholder="Số lượng" asp-for="quantity" />
            <input min="1" placeholder="Giá nhập" asp-for="price" />
            <button type="submit">Nhập hàng</button>
        </form>

        <span asp-validation-for="quantity"></span>
        <span asp-validation-for="price"></span>
    </div>





</body>
</html>

